button:focus {
  outline: none !important;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  margin-bottom: 0.5em;
}
.main-footer {
  height: 3em;
  border-top: 1px solid black;
  margin-top: 1.5em;
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .main-footer {
    display: block;
  }
}

/* Styles for mobile screens */
@media only screen and (max-width: 767px) {
  .main-footer {
    display: none;
  }

}
