button:focus {
  outline: none !important;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  margin-bottom: 0.5em;
}

.review-favorite-button:hover {
  color: red !important;
}

.highest-star-selector,
.favorite-selector,
.item-selector {
  display: flex;
  align-items: center;
}

.favorite-selector-icon,
.highest-star-selector-icon {
  margin-right: 8px;
}

.favorite-selector-text,
.highest-star-selector-text,
.selector-text {
  font-size: 1em;
  font-weight: bold;
}

.main-footer {
  height: 3em;
  border-top: 1px solid black;
  margin-top: 1.5em;
  display: flex;
  align-items: center;
}

.leaflet-container .leaflet-marker-icon {
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  border: none;
  display: block;
  z-index: 6;
  margin-left: -12px;
  margin-top: -41px;
  width: 25px;
  height: 41px;
  outline: none;
}

@media only screen and (min-width: 768px) {
  .main-footer {
    display: block;
  }

  .weather-report {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
  }
}

/* Styles for mobile screens */
@media only screen and (max-width: 767px) {
  .main-footer {
    display: none;
  }

  .weather-report {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
}

.MuiBottomNavigationAction-root {
  // Add styles for the root element
}

.Mui-selected {
  // Add styles for the selected state
  color: white;

  .MuiBottomNavigationAction-label {
    color: white;
  }

  .MuiSvgIcon-root {
    color: white;
  }
}

.MuiBottomNavigationAction-root:not(.Mui-selected) {
  // Add styles for the unselected state
  color: rgba(255, 255, 255, 0.6);

  .MuiBottomNavigationAction-label {
    color: rgba(255, 255, 255, 0.6);
  }

  .MuiSvgIcon-root {
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-link {
  font-size: 0.875rem;
  font-weight: 400;
  color: #1C1C1C;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.MuiBottomNavigationAction-iconOnly {
  // Add styles for the icon only state (when showLabel={false} and not selected)
}

.MuiBottomNavigationAction-label {
  // Add styles for the label's span element
}
